:root {
  --bg: light-dark(#eeeef2, #1c1b22);
  --text: light-dark(#1c1b22, #e7e5f3);

  color-scheme: light dark;

  &.light {
    color-scheme: light;
  }

  &.dark {
    color-scheme: dark;
  }

  background: var(--bg);
  color: var(--text);
  font-family: sans-serif;
}

body {
  --gutter: 1rem;
  width: min(1200px, 100% - var(--gutter) * 2);
  margin-inline: auto;
  margin-block-start: clamp(1rem, 2vw, 2rem);
  min-height: 90vh;
  display: grid;
  grid-template-rows: auto 1fr;
  align-items: start;
}

fieldset {
  border-radius: 6px;
  background: light-dark(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.02));

  button {
    display: block;
    margin-inline: auto;
    font-size: 1.1rem;
    padding: 5px;
    width: 100%;
    margin-block-start: 1.5rem;
  }

  legend {
    font-weight: bold;
  }

  p:first-of-type {
    margin-block-start: 0.5em;
  }
}

.inputs {
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem;
  padding: 0 1rem;

  label {
    flex: 1;
    display: grid;
    justify-items: center;
    min-width: min(40ch, 100%);
    gap: 0.3rem;

    &:has(:user-invalid) {
      --color: color-mix(in oklab, firebrick 75%, var(--text));
      color: var(--color);

      textarea {
        border: 1px solid var(--color);
        border-radius: 3px;
      }
    }
  }

  textarea {
    width: 100%;
  }
}

.outputContainer {
  display: grid;
  position: relative;
  margin: 2rem 1rem;
  gap: 0.8rem;
  grid-template-areas: "header" "desc" "output";
  grid-template-rows: auto auto 1fr;
  align-self: stretch;

  :is(h1, h2, h3, h4, h5, h6, p) {
    margin-block: 0;
  }

  .loader {
    --size: 39px;
    width: var(--size);
    height: var(--size);
    border: 5px solid color-mix(in oklab, var(--text), var(--bg) 75%);
    border-bottom-color: #ff3d00;
    border-radius: 50%;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    grid-area: output;
    margin: auto;
    display: inline-block;
    z-index: 2;
    opacity: 0;
    pointer-events: none;
  }

  &:has(.loading) {
    &::after {
      content: "";
      position: absolute;
      inset: 0;
      grid-area: output;
      z-index: 1;
      background: var(--bg);
      border: 1px solid color-mix(in oklab, var(--text), transparent);
      border-radius: 3px;
      opacity: 0.2;
    }

    #selectAll {
      /* display: none; */
      opacity: 0.2;
    }

    .loader {
      opacity: 1;
    }
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#output {
  width: 100%;
  display: block;
  box-sizing: border-box;
  grid-area: output;
  align-self: stretch;
  overflow-y: scroll;
}

#selectAll {
  padding: 10px;
  position: absolute;
  grid-area: output;
  justify-self: end;
  margin: 1rem 2rem;
  border: 1px solid color-mix(in oklab, currentColor, transparent 60%);
  border-radius: 4px;

  @media (prefers-color-scheme: dark) {
    html:not(.light) & {
      box-shadow: 0px 0 2px 1px var(--bg), 0px 0px 10px 2px var(--bg);
      appearance: button;
      background: #52525e;

      &:hover {
        background: #686876;
      }
    }
  }
}

.notice {
  color: color-mix(in oklab, currentColor, transparent);
  position: fixed;
  display: block;
  text-align: right;
  backdrop-filter: blur(10px);
  padding: var(--gutter);
  bottom: 0;
  right: 0;
  font-size: 0.8em;
}

textarea {
  box-sizing: border-box;
  padding: 10px;
  line-height: 1.3;
  resize: none;
}
